/* You can add global styles to this file, and also import other style files */
.flex-space {
  flex: 1 1 auto;
}

///////////////////////////////////////////////////////////////////////////
/*
.list-wrapper {
  position: static;
  display: flex;
  flex-flow: column wrap;
}
*/

.list-wrapper-item {
  margin: 20px 0;
}

.list-header {
  display: flex;
  flex-flow: row wrap;
}

@media(max-width:300px) {
  .list-header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
}

.list-header-title {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: #26c6da;

  span {
    margin-left: 5px;
  }
}

.list-filter-accordion{
  margin: 20px 0;
}

.list-table {
  position: relative;
  // min-width: 400px;
}

.list-table-loading {
  display: flex;
  flex-flow: row wrap;
  //align-items: center;
  justify-content: center;
  height: 20px;
  //width: 100%;
  //position: fixed;
}

a {
  text-decoration: none;
}

///////////////////////////////////////////////////////////////////////////
.showone-tab-item-wrapper {
  padding: 20px;
}

.showone-tab-icon {
  margin-right: 8px;
}

//////////////////////////////////////////////////////////////////////////
.update-form-wrapper {
  display: flex;
  flex-flow: column wrap;
}

.update-form-button-wrapper {
  display: flex;
  flex-flow: row-reverse wrap;

  .update-form-button {
    margin-left: 10px;
    margin-top: 10px;
  }

  @media(max-width: 400px) {
    flex-flow: column wrap;

    .update-form-button {
      margin-left: 0;
      width: 100%;
    }
  }
}

////////////////////////////////////////////////////////////////////////
.user-selector-wrapper {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  align-items: center;
  margin-bottom: 15px;
}

.xxspace {
  @media(min-width: 480px) {
    width: 15px;
  }
}

.user-selector-button {
  @media(max-width: 480px) {
    width: 100%;
  }
}

////////////////////////////////////////////////////////////////////////
.table-operation-tooltip-red {
  background: #b71c1c;
}

.table-delete-operation-column {
  // width: 10%;
  flex: 0 1 auto;
}

////////////////////////////////////////////////////////////////////////
mat-list.pdr-calendar-state {
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 40px;
  padding-top: 0;
}

.pdr-calendar-state-header {
  display: flex;
  flex-flow: row wrap;
  background: #1e88e5;
  align-items: center;
  padding-right: 10px;
}

.pdr-calendar-state-header-wrong {
  background: #D8000C;
}

mat-list.pdr-calendar-state > mat-divider.custom {
  position: inherit;
}

.pdr-calendar-state-pdr-item {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  padding: 10px;
}

.pdr-calendar-state-pdr-item-client-name {
  flex: 1 1 auto;
  margin-right: 20px;
}

.pdr-calendar-state-pdr-item-dcrequest {
  flex: 0 1 auto;
}

.pdr-calendar-state-null {
  text-align: center;
}

.pdr-calendar-state-dcrr-list {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
}

.pdr-calendar-state-dcrr-list-item {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  padding: 10px;
  text-align: center;
}

.pdr-calendar-state-dcrr-list-item > div {
  margin: 5px;
}
