<div class="showone-tab-item-wrapper">
  <div>
    <b><strong>Nombre</strong></b> <br/>
    <span>{{client.Name}}</span>
  </div>
  <br/>
  <div>
    <b><strong>Direccion</strong></b> <br/>
    <span>{{client.Address}}</span>
  </div>
  <br/>
  <div>
    <b><strong>Identificacion</strong></b> <br/>
    <span>{{client.Identification}}</span>
  </div>
  <br/>
  <div>
      <b><strong>Telefonos</strong></b> <br/>
      <span>{{client.Phones}}</span>
    </div>
  <br/>
  <div>
      <b><strong>Descripcion</strong></b> <br/>
      <span>{{client.Description}}</span>
    </div>
  <br/>
  <div>
    <b><strong>Activo</strong></b> <br/>
    <span>{{(client.Actived ? 'Si' : 'No')}}</span>
  </div>
  <br/>
</div>
