<h3 style="margin-top: 10px;margin-bottom: 10px;">Nuevo Cliente</h3>
<mat-dialog-content>
  <app-form-client></app-form-client>
</mat-dialog-content>
<mat-dialog-actions
  style="flex-flow: row-reverse wrap; margin-top: 20px;">
  <button mat-raised-button
          color="primary"
          [mat-dialog-close]="getClient()" cdkFocusInitial
          [disabled]="!this.form.Valid()"
          style="margin-left: 10px; margin-bottom: 10px;">Aceptar</button>

  <button mat-raised-button [mat-dialog-close]
          style="margin-left: 10px; margin-bottom: 10px;">Cancelar</button>
</mat-dialog-actions>
