<div class="showone-tab-item-wrapper">
    <div>
      <b><strong>Nombre</strong></b> <br/>
      <span>{{disk.Name}}</span>
    </div>
    <br/>
    <div>
      <b><strong>Numero de Serie</strong></b> <br/>
      <span>{{disk.SerialNumber}}</span>
    </div>
    <br/>
    <div>
      <b><strong>Capacidad</strong></b> <br/>
      <span>{{disk.Capacity}}</span>
    </div>
    <br/>
    <div>
      <b><strong>Categoria</strong></b> <br/>
      <span>{{disk.Category}}</span>
    </div>
    <br/>
    <div>
      <b><strong>Activo</strong></b> <br/>
      <span>{{(disk.Actived ? 'Si' : 'No')}}</span>
    </div>
    <br/>
  </div>
