<div class="showone-tab-item-wrapper">
    <div class="update-form-wrapper">
      <app-form-disk [initialValues]="disk">
      </app-form-disk>

      <div class="update-form-button-wrapper">
        <!--span class="flex-space"></span-->

        <button mat-raised-button class="update-form-button"
                color="warn"
                (click)="onSave()"
                [disabled]="!(this.form.Valid())">
          <mat-icon>update</mat-icon>
          <span>Guardar</span>
        </button>

        <button mat-raised-button class="update-form-button"
                (click)="form.ResetValues()">
          <mat-icon>history</mat-icon>
          <span>Resetear</span>
        </button>
      </div>
    </div>
  </div>
